@font-face {
  font-family: 'montserrat-light';
  src: url('./assets/Montserrat/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'montserrat-medium';
  src: url('./assets/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'montserrat-regular';
  src: url('./assets/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'montserrat-bold';
  src: url('./assets/Montserrat/Montserrat-Bold.ttf');
}

html {
  font-family: 'montserrat-medium';
  font-size: 16px;
  overflow-x: hidden;
}

.nav-header {
  display: flex;
  align-items: center;
  height: 3.5rem;
  background-color: rgb(159, 255, 255);
}

.nav-header > svg {
  margin-left: 1.5rem;
  height: 1rem;
}

.section-header {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.section-header > svg {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  width: auto;
}

.showcase {
  display: flex;
  width: 100vw;
  overflow-y: hidden;
}

.showcase::-webkit-scrollbar {
  display: none;
}

.showcase > div {
  flex: 0 0 85vw;
  margin: 5px;
}

.showcase > div > img {
  width: 100%;
}

.showcase-advert {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% / 2);
  padding: 0 1rem;
  overflow: hidden;
}

.showcase-advert > img {
  width: 100%;
}

.popular-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 3rem;
  margin: 3rem 0;
  width: 100%;
  background-color: #eaeaea;
  box-sizing: border-box;
}

.popular-articles > h2 {
  font-family: url('./assets/Montserrat/Montserrat-Bold.ttf');
  font-size: 3rem;
  text-align: center;
}

.popular-articles > ol > li {
  display: flex;
  margin-top: 3rem;
}

.popular-articles > ol > li > div:nth-child(1) {
  display: flex;
  font-size: 2rem;
  color: red;
}

.popular-articles > ol > li > div {
  font-size: 1rem;
  margin-left: 1rem;
  color: black;
  box-sizing: border-box;
}

.lastest-stories > h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.lastest-stories > ul > li {
  display: flex;
  margin: 0 1rem;
  margin-top: 2rem;
  box-sizing: border-box;
}

.lastest-story-img-container {
  width: 25%;
}

.lastest-story-img-container > img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: contain;
  box-sizing: border-box;
}

.lastest-stories > ul > li > div:nth-child(2) {
  width: 75%;
  background-color: red;
  box-sizing: border-box;
}

.lastest-stories > ul > li > div > p {
  margin-top: 1rem;
}
