@font-face {
  font-family: 'montserrat-light';
  src: url('./assets/Montserrat/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'montserrat-medium';
  src: url('./assets/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'montserrat-regular';
  src: url('./assets/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'montserrat-bold';
  src: url('./assets/Montserrat/Montserrat-Bold.ttf');
}

html {
  font-family: 'montserrat-medium';
  font-size: 16px;
}

.nav-header {
  display: flex;
  align-items: center;
  height: 3.5rem;
  background-color: rgb(159, 255, 255);
}

.nav-header > svg {
  margin-left: 1.5rem;
  height: 1rem;
}

.section-header {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.section-header > svg {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  width: auto;
}

.showcase {
  display: flex;
  width: 100vw;
  overflow-y: hidden;
}

.showcase::-webkit-scrollbar {
  display: none;
}

.showcase > div {
  flex: 0 0 85vw;
  margin: 5px;
}

.showcase > div > img {
  width: 100%;
}

.showcase-advert {
  box-sizing: border-box;
  width: 100vw;
  height: calc(100vw / 2);
  padding: 0 1rem;
  overflow: hidden;
}

.showcase-advert > img {
  width: 100%;
}

.popular-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
